.control {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.control label {
  margin-bottom: .6em;
  font-weight: bold;
  color: #4c4d4c;
}

.control input {
  padding: .7em;
  border: 1px solid #f2eadf;
  border-radius: 5px;
}

.control input::placeholder {
  color: #D7D9E9;

}