@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Indie+Flower&display=swap");



.btn {

  color: #F2EADF;

  padding: 0.5em 1em;
  text-decoration: none;
  transition: 0.5s;
  background-color: #d9af8b;
  font-family: 'Dancing Script', cursive;
  font-family: 'Indie Flower', cursive;
  font-size: 1.5em;

}

.btn:hover {
  color: #D7D9E9;

}