.selecte {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.selecte label {
  margin-bottom: .6em;
  color: #4c4d4c;
  font-weight: bold;
}

.selecte select {
  padding: .7em;
  border: 1px solid #f2eadf;
  border-radius: 5px;
  color: #dfdee4;
  height: 40px;
  font-size: 0.72em;
}