.submite {
  background-color: #d9af8b;
  color: #F2EADF;
  padding: 0.5em 1em;
  text-decoration: none;
  transition: 0.5s;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.submite:hover {
  color: #D7D9E9;
}