@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Indie+Flower&display=swap");


.foorm {
  background-color: rgba(252, 255, 255, 0.903);
  color: #F2EADF;
  display: flex;

  width: 95%;
  height: 28%;
  padding: 15px 13px 1px 20px;
  border-radius: 5px;
  display: block;
  margin: 17px auto;
  border: 1px solid #d9af8b;
  font-family: 'Dancing Script', cursive;
  font-family: 'Indie Flower', cursive;


}

.foorm h1 {
  color: #6d6e6e;
  padding-top: -10px;
  font-family: 'Dancing Script', cursive;
  font-family: 'Indie Flower', cursive;
  font-size: 30px;

}

label {
  color: #6d6e6e;
  font-family: 'Dancing Script', cursive;
  font-family: 'Indie Flower', cursive;
  font-size: 22px;
}

input {
  border: 1px solid #d9af8b;
  border-radius: 3px;

}

.textarea {
  width: 60%;
  height: 90px;
  border-radius: 4px;
  border: 1px solid #d9af8b;
  padding: auto;
  font-display: unset;
}

.bt {
  display: flex;
  justify-content: end;
  padding-right: 3%;
  margin-top: -75px;
}

#nome {
  border-radius: 8px;
}

.button_default {
  background-color: #d9af8b;
  border: 1px solid #f2eadf;
  color: white;
  padding: 0.75em 1.5em;
  border-radius: 5px;
  font-size: 0.8em;
  display: inline-block;
  width: auto;
  transition: all 0.5s;
  cursor: pointer;
  font-size: 15px;
}

.button_default_stroke {
  background-color: #d9af8b;
  border-color: #efefef;
  color: #F2EADF;

}

.button_default_stroke:hover {
  color: #D7D9E9;

}

.button-default:hover {
  color: #D7D9E9;


}

.coment {
  width: 95%;
  height: 5rem;
  padding: 15px 13px 1px 20px;
  border-radius: 10px;
  display: block;
  margin: 17px auto;
  font-family: 'Dancing Script', cursive;
  font-family: 'Indie Flower', cursive;
}