.project_card {
  padding: 1em;
  border: 1px solid #f2eadf;
  border-radius: 5px;
  width: 24%;
  margin: 0.5%;
  flex-wrap: wrap;
  color: #6d6e6e;


}

.project_card h4 {
  background-color: #d9af8b;
  color: rgb(254, 254, 254);
  padding: .4em;
  margin-bottom: 1.3em;
  font-size: 1.3em;

}

.project_card p span {
  font-size: bold;

}

.category_text {
  display: flex;
  color: #6d6e6e;
  align-items: center;
}

.category_text span {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ccc;
  margin-right: 5px;
}

li {
  color: #7a7a7a;

}


.card_actions {
  margin-top: 1.2 em;
  display: flex;
  align-items: center;

}

.card_actions a,
.card_actions button {
  text-decoration: none;
  border: none;
  background-color: #d9af8b;
  color: #D7D9E9;
  font-size: .9em;
  padding: .6em 1em;
  margin-right: 1em;
  cursor: pointer;
  border: 1px solid #f2eadf;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .5s;
  border-radius: 6px;

}

.card_actions button:hover {
  color: #F2EADF;

}

svg {
  font-size: 1.1em;
  cursor: pointer;
  padding-right: 6px;
}