@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Indie+Flower&display=swap");




.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4em;
  margin: 30px auto 15px;
}

.container h1 {
  font-size: 2.5em;
  margin-bottom: .5em;
}

.container h1 span {
  color: #4c4d4c;
  font-family: 'Dancing Script', cursive;
  font-family: 'Indie Flower', cursive;
  padding: 0 .2em;
}

.container h3 {
  margin-bottom: 1.5em;
  font-family: 'Dancing Script', cursive;
  font-family: 'Indie Flower', cursive;
  color: #6d6e6e;
}

.container img {
  width: 450px;
  margin: 2em 0;
}