.project_container {

  height: 1200px;
  width: 100%;

}

.title {
  display: flex;
  justify-content: space-between;
  margin: 2em 2em 1.5em;

}

.containerr {
  width: 1200px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  flex-wrap: wrap;

}

.min_heigth {
  min-height: 75%;

}

.start {
  justify-content: space-between;
}

.column {
  flex-direction: column;
  justify-content: flex-start;

}

.edite {
  padding: 1em;
  border-radius: 5px;
  width: 24%;
  margin: 0.5%;
  flex-wrap: wrap;
  color: #6d6e6e;
  font-family: 'Dancing Script', cursive;
  font-family: 'Indie Flower', cursive;
  display: block;
}