.card {
  width: 17rem;
  height: 27rem;
  display: inline-block;
  margin: 18px 8px 0px 30px;
  padding: 6px 5px;
}

.carde {
  width: 80%;
  height: 250px;
  display: contents;
}

.card-text {
  color: #6d6e6e;

}



.btn-outline- {
  color: #D7D9E9;
}

.card:a {
  color: #F2EADF;

}