.rodape {
  background: #BF7256;
  text-align: center;
  align-items: center;
  margin: 7px 0 3px 0;
  padding: 15px;
  font-size: 12px;
  color: #F2EADF;
  letter-spacing: 5px;
  width: 100%;
  display: ruby-base;
}

footer {

  width: 100%;
}

.social_list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding-right: 3em;
}

.social_list li {
  margin: 0 1em;
}

.social_list svg {
  font-size: 2em;
  cursor: pointer;
}

.social_list li:hover {
  color: #D7D9E9;

}

.copy {
  font-weight: bold;
  color: #D7D9E9;
}